:root {
  --app-background-color: #FFFFFF;
  --search-input-caret-color: #222222;
  --search-results-scrollbar-color: #222222;
  --selected-suggestion-background-color: #222222;
  --search-input-value-text-size: 30px;
  --suggestion-title-text-size: 16px;
  --suggestion-subtitle-text-size: 13px;
  --search-input-value-text-color: #222222;
  --selected-suggestion-title-text-color: #FFFFFF;
  --selected-suggestion-subtitle-text-color: #FFFFFF;
  --selected-suggestion-character-match-color: #FFFFFF;
  --suggestion-title-text-color: #222222;
  --suggestion-subtitle-text-color: #222222;
  --suggestion-character-match-color: #222222;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cLauncher {
  background: var(--app-background-color);
  min-height: 60px;
  width: var(--app-width-size);
}

.cLauncher .cLauncher__search {
  position: relative;
  z-index: 2;
  background-color: transparent;
  caret-color: var(--search-input-caret-color);
  border: none;
  color: var(--search-input-value-text-color);
  height: 50px;
  font-size: var(--search-input-value-text-size);
  font-weight: 300;
  width: 100%;
  padding: 5px 5px 5px 15px;
}

.cLauncher .cLauncher__search:focus {
  outline: none;
}

.cLauncher .cLauncher__icon {
  margin-top: 5px;
}

.cLauncher .cLauncher__search-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;

  .suggestion {
    background-color: var(--app-background-color);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.5;
  }
}

.cLauncher .cLauncher__suggestions {
  max-height: 255px;
  margin: 0;
  background: var(--app-background-color);
  overflow-y: scroll;
  padding: 0;
  display: inline;
}

.cLauncher .cLauncher__hint {
  padding: 0 5px 5px 15px;
  p {
    margin: 0;
    padding: 0;
    &.error {
      color: red;
    }
    &.result {
      color: blue;
    }
    &.hint {
      color: #79827a;
    }
  }
}

.cLauncher .cLauncher__scrollbar::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--search-results-scrollbar-color);
}

.cLauncher .cLauncher__suggestion {
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 20px;
  list-style: none;
  height: 60px;
}

.cLauncher .cLauncher__suggestion.selected {
  background-color: var(--selected-suggestion-background-color);
}

.cLauncher .cLauncher__suggestion.selected .cLauncher__suggestion-title {
  color: var(--selected-suggestion-title-text-color);
}

.cLauncher .cLauncher__suggestion.selected .cLauncher__suggestion-subtitle {
  color: var(--selected-suggestion-subtitle-text-color);
}

.cLauncher .cLauncher__suggestion.selected strong {
  color: var(--selected-suggestion-character-match-color);
}

.cLauncher .cLauncher__suggestion.loading:after {
  content: '';
  border: 2px solid #f3f3f3;
  animation: spin 1s linear infinite;
  border-top: 3px solid #555;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 30px;
}

.cLauncher .cLauncher__suggestion .cLauncher__suggestion-icon {
  width: 20px;
  margin-right: 10px;
}

.cLauncher .cLauncher__suggestion .cLauncher__suggestion-text-info {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.cLauncher .cLauncher__suggestion .cLauncher__suggestion-title {
  color: var(--suggestion-title-text-color);
  font-size: var(--suggestion-title-text-size);
  margin-bottom: 2px;
}

.cLauncher .cLauncher__suggestion .cLauncher__suggestion-subtitle {
  color: var(--suggestion-subtitle-text-color);
  font-size: var(--suggestion-subtitle-text-size);
}

.cLauncher .cLauncher__suggestion .cLauncher__suggestion-subtitle,
.cLauncher .cLauncher__suggestion .cLauncher__suggestion-title {
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cLauncher .cLauncher__suggestion strong {
  font-weight: bold;
  color: var(--suggestion-character-match-color);
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

:root {
  --app-width-size: 500px;
}