.input-search {
  font-size: inherit;
  line-height: inherit;
  border: none;
  background: none;
  width: 100%;
  display: block;
  resize: none;
  padding: 0;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  outline: none;
  z-index: 2;

  &.suggestion {
    position: absolute;
    left: 44px;
    opacity: 0.4;
    z-index: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.result-message {
  transition: background 20ms ease-in 0s;
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
  height: 20px;
  border-radius: 3px;
  font-size: 12px;
  line-height: 1.2;
  min-width: 0;
  padding: 2px 4px;
  color: rgba(55, 53, 47, 0.6);
  margin-right: 1px;
  font-weight: 500;
  transform: translateY(0.5px);
  user-select: text;

  &.success {
    color: green;
  }

  &.error {
    color: red;
  }
}

.plugin {
  user-select: none;
  transition: none 0s ease 0s;
  cursor: not-allowed;
  width: 100%;
  position: relative;

  .span-icon {
    font-family: "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, serif;
    line-height: 1em;
  }

  &.selected.loading:after {
    content: '';
    border: 2px solid rgba(55, 53, 47, 0.4);
    animation: spin 1s linear infinite;
    border-top: 2px solid #555;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 14px;
    top: 14px;
  }

  .icon-enter {
    margin-left: auto;
    margin-right: 14px;
    min-width: 0;
    flex: 0 0 auto;
    align-self: flex-start;
    margin-top: 3px;

    & > svg {
      opacity: 0;
      width: 14px;
      height: 14px;
      display: block;
      fill: rgba(55, 53, 47, 0.4);
      flex-shrink: 0;
      backface-visibility: hidden;
      margin-top: 9px;
      margin-right: 5px;
    }
  }

  &.selected {
    background: rgba(55, 53, 47, 0.08);
  }

  &.selected:not(.loading) .icon-enter > svg {
    opacity: 1;
  }
}